/* app styles */

body {
  display: block;
  margin: 0 auto;
  width: 1200px;
}


.header {
  height: 120px;
  background-image:url(Images/Header.png);
  position: relative;
  box-shadow: 0px 0px 4px 1px #222;
  margin-bottom: 40px;
}

.logo-right {
  display: inline-block;
}

.logo-right img {
  height: 80px;
  width: 200px;
  margin-top: 25px;
}

.logo-right h1 {
  padding: 20px;
  position: absolute;
  top: 20px;
  left: 200px;
  font-size: 50px;
  letter-spacing: 1px;
  font-family: 'Bangers', cursive;
}

.under-name {
  margin-top: 25px;
}

.under-name {
  margin-top: 25px;
  font-family: 'Special Elite', cursive;
  margin-left: 20px;
  letter-spacing: 1px;
  font-size: 16px
}

.social {
  position: absolute;
  top: 0px;
  right: 0px;
}

.iconsLook {
  font-size: 30px;
}

.navbar {
  margin-top: 60px;
  float: right;
  margin-right: 1%;
  display: inline-block;
}

 li {
   display: inline;
   float: left;
   color: black;
   padding: 10px;
   font-size: 20px;
   font-family: 'Architects Daughter', cursive;
 }

ul li:hover {
  color: red;
  text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
  opacity: 1.0;
  text-decoration: none;
  transition: 350ms;
}

.not-picked {
  opacity: .5;
}

.picked {
  text-decoration: underline red;
}


.logo {
  color: red;
  font-size: 40px;
  font-family: helvetica;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.opening-saying {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Bangers', cursive;
  margin-top: 20px;
}

.d-block {
  width: 700px;
  height: 465px;
  margin: 0 auto;
}

.carousel {
  margin-left: 50px;
  width: 700px;
  height: 465px;
  box-shadow: 0px 0px 4px 1px #222;
  display: inline-block;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 1px;
}

.left_sideBar {
  float: right;
  margin-right: 50px;
}

.flyer {
  width: 340px;
  height: 470px;
  background-color: #b8dfef;
  margin-top: -5px;
  text-align: center;
  padding: 30px 20px;
  line-height: 54px;
  color: white;
  border: 20px solid #92c3dc;
  border-radius: 3px;
}

.flyer h4 {
  font-size: 50px;
  font-family: 'Courgette', cursive;
  text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
}

.flyer h5 {
  font-size: 28px;
  font-family: 'Stardos Stencil', cursive;
  text-decoration: underline;
}

.flyer h6 {
  font-size: 20px;
  font-family: 'Stint Ultra Expanded', cursive;
  text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
}

.img {
  border-radius: 50%;
  width: 75px;
}

#review {
  float: left;
}

.reviews-saying {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Bangers', cursive;
  margin-top: 40px;
}

.reviews {
  width: 350px;
  margin-left: 40px;
  float: left;
  margin-top: 10px;
}

 .tag-line {
   width: 240px;
   margin-left: 10px;
   display: inline-block;
   font-size: 30px;
   font-family: 'Bangers', cursive;

 }

 .by{
   margin-top: 10px;
   clear: both;
   float: right;
   margin-right: 60px;
   margin-bottom: 20px;
   font-family: 'Special Elite', cursive;
   font-size: 14px;
 }

 .saying {
  text-indent: 30px;
  line-height: 20px;
  float: left;
  font-family: 'Stint Ultra Expanded';
  margin-bottom: 60px;
 }

 #tours {
   float: left;
 }

.about-us {
  font-size: 34px;
  font-family: 'Bangers', cursive;
  text-align: center;
  margin: 30px 60px;
}

 .tours {
   width: 500px;
   display: inline-block;
   margin-left: 60px;
   margin-bottom: 60px;
 }

 .tour-image {
   width: 260px;
   border-radius: 5px;
   box-shadow: 0px 0px 4px 1px #222;
 }
 .tours-last {
   width: 900px;
   display: inline-block;
   margin-left: 60px;
   margin-bottom: 60px;
 }

 .tour-image-last {
   width: 500px;
   border-radius: 5px;
   box-shadow: 0px 0px 4px 1px #222;
   margin-bottom: 80px;
 }

 .info-last {
   margin-left: 30px;
   width: 300px;
   display: inline-block;
   margin-bottom: 80px;
   vertical-align: top;
 }

.info {
  float: right;
  width: 200px;
}

 .tour-name {
   margin-top: 20px;
   display: inline-block;
   vertical-align: top;
   font-size: 30px;
   margin-bottom: 10px;
   font-family: 'Bangers', cursive;
 }

 .tour-price {
   display: inline-block;
   font-size: 16px;
   margin-bottom: 20px;
   color: #92c3dc;
   font-family: 'Special Elite', cursive;
 }

 .about-tour {
   font-family: 'Stint Ultra Expanded';
   font-size: 14px;
   line-height: 18px;
 }

 .Events {
   display: block;
   margin: 0 auto;
   height: 850px;
 }

 #contact-page {
   display: inline-block;
   width: 100%;
   float: left;
   margin-bottom: 20px;
 }

.join {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Bangers', cursive;
}
 .contact-info {
   display: inline-block;
   width: 260px;
   margin: 20px;
   padding: 20px;
   height: 280px;
   margin-left: 60px;
   background-color: #b8dfef;
   border-radius: 4px;
   font-family: 'Stint Ultra Expanded';
   line-height: 18px;
 }

 .where {
   font-family: 'Bangers', cursive;
   font-size: 30px;
   margin-bottom: 20px;
 }

 .when {
   font-family: 'Bangers', cursive;
   font-size: 30px;
   margin-bottom: 20px;
   margin-top: 20px;
 }

.contact-phone {
  display: inline-block;
  float: right;
  width: 250px;
  margin: 20px;
  padding: 20px;
  background-color: #b8dfef;
  height: 280px;
  border-radius: 4px;
}

.contact-us {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Special Elite', cursive;
}

.form {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  height: 280px;
  display: inline-block;
  width: 500px;
  background-color: #b8dfef;
  padding: 20px;
  border-radius: 4px;
}

.form-input {
  width: 100%;
  margin: 5px;
}

textarea {
  width: 100%;
  margin: 5px;
  height: 100px;
}

.dune {
  display: block;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
  border: 20px solid #92c3dc;
  box-shadow: 0px 0px 4px 1px #222;
}


 footer {
   height: 120px;
   background-image:url(Images/Header.png);
   clear: both;
 }
