/* app styles */

body {
  margin-left: calc(50% - 600px);
  width: 1200px;
}

.header {
  height: 120px;
  background-image:url(Images/Header.png);
  position: relative;
  box-shadow: 0px 0px 4px 1px #222;
  margin-bottom: 60px;
}

.logo-right {
  display: inline-block;
}

.logo-right img {
  padding:10px;
  height: 80px;
  width: 200px;
  margin-top: 25px;
}

.logo-right h1 {
  padding: 20px;
  position: absolute;
  top: 20px;
  left: 200px;
  font-size: 50px;
  letter-spacing: 1px;
  font-family: 'Bangers', cursive;
}

.saying {
  margin-top: 25px;
}

.saying {
  margin-top: 25px;
  font-family: 'Special Elite', cursive;
  margin-left: 20px;
  letter-spacing: 1px;
  font-size: 16px
}

.navbar {
  margin-top: 60px;
  float: right;
  margin-right: 1%;
  display: inline-block;
}

 li {
   display: inline;
   float: left;
   color: black;
   padding: 10px;
   font-size: 20px;
   font-family: 'Architects Daughter', cursive;
 }

ul li:hover {
  color: red;
  text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
}


.logo {
  color: red;
  font-size: 40px;
  font-family: helvetica;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.d-block {
  width: 700px;
  height: 465px;
  margin: 0 auto;
}

.carousel {
  margin-left: 50px;
  width: 700px;
  height: 465px;
  box-shadow: 0px 0px 4px 1px #222;
  display: inline-block;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  padding: 30px;
  float: right;
  margin-right: 30px;
}

h3 {
  font-size: 18px;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 1px;
}

.left_sideBar {
  float: right;
  margin-right: 50px;
}

.flyer {
  width: 340px;
  height: 470px;
  background-color: #b8dfef;
  margin-top: -5px;
  text-align: center;
  padding: 30px 20px;
  line-height: 54px;
  color: white;
  border: 20px solid #92c3dc;
  border-radius: 3px;
}

.flyer h4 {
  font-size: 50px;
  font-family: 'Courgette', cursive;
  text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
}

.flyer h5 {
  font-size: 28px;
  font-family: 'Stardos Stencil', cursive;
  text-decoration: underline;
}

.flyer h6 {
  font-size: 20px;
  font-family: 'Stint Ultra Expanded', cursive;
  text-shadow: -1px 0 black,0 1px black,1px 0 black,0 -1px black;
}
